<%- include('partials/head', { title: "Home" }) %>
<!---->
<%- include('partials/header', {current_nav: "home"}) %>
<!---->
<main class="main_container">
  <h1 class="welcome_home">Welcome to Messaging App</h1>
  <img class="home_picture" src="users.jpg" alt="Home Page" />
</main>
<!---->
<%- include('partials/footer') %>
